<template>
    <b-list-group>
        <b-list-group-item v-bind:class="{'checked':todos.completed}" v-for="(todos,index) in todos" :key="index" v-on:remove="todos.splice(index, 1)">
            <div @click="checked(index)" class="list" :class="[{completed: todos.completed}, 'todos']">&nbsp;&nbsp;&nbsp;{{todos.label}}</div>
            <div class="btn-remove"  @click="removeTodo(index)">X</div>
        </b-list-group-item>
        <b-list-group-item v-if="itemremaining === todos.length">todos complete </b-list-group-item>
        <b-list-group-item v-if="itemremaining_notcomplete === todos.length">no todo complete </b-list-group-item>
        <b-list-group-item v-else>{{itemremaining_notcomplete}} {{itemremaining_notcomplete | pluralize}} remaining of {{todos.length}} </b-list-group-item>
    </b-list-group>
</template>

<style>
  .todos{
    float: left;
  }
  .btn-remove{
    float :right;
    cursor: pointer;
  }
  .list{
    cursor: pointer;
    text-align: right;
  }
  .checklist{
    float:left;
  }
  .list-group-item.checked {
    background  : rgb(99, 176, 240);
    color       : #fff;
  }
  .completed {
    background  : rgb(99, 176, 240);
    color       : #fff;
    text-decoration: line-through;
    cursor: pointer; 
  }
  .completed::before {
    content      : '';
    position     : absolute;
    border-color : #fff;  
    border-style : solid;
    border-width : 0 2px 2px 0;
    top          : 10px;
    left         : 16px;
    transform    : rotate(45deg);
    height       :15px;
    width        :7px;
  }
  
</style>

<script>
export default {
    name: 'list',
    props: {
        todos: {
        type: Array,
        required: true
        }
    },
    filters: {
        pluralize(n) {
            return (n === 1) ? 'item' : 'items'
        }
    },
    methods: {
        removeTodo (index) {
            this.$emit('remove', index)
        },
        checked (index){
            this.$emit('complete',index)
        }
    },
    computed: {
        itemremaining () {
        let total_complete = 0
        if (this.todos.length > 0) {
            this.todos.forEach(todo => {
                if (todo.completed ==true){
                    total_complete = total_complete+1;
                }
            })  
        }
        return total_complete
    },
        itemremaining_notcomplete () {
        var total_notcomplete = 0
            if (this.todos.length > 0) {
                this.todos.forEach(todo => {
                    if (todo.completed ==false){
                        total_notcomplete = total_notcomplete+1;
                    }
                })  
            }
            return total_notcomplete
            },
        }
}
</script>
