<template>
  <div id="navbar">
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <img src="../assets/logo.png">
      <b-navbar-brand href="/">Todo Activity</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
      </b-collapse>
    </b-navbar>
    </div>
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<style>
img {
  height: 50px;
}
</style>