<template>
  <div class="container">
    <navbar/>
        <b-jumbotron header="Todo List" lead="Todo activity with vue js" >
            <b-form inline>
                <b-form-group>
                    <div class="InputTask">
                        <b-form-input id="todoName" v-model.trim="taskLabel" v-on:keyup.enter.native="addNewTask" placeholder="Type your todo here..." v-b-popover="{trigger: 'hover', placement: 'topleft', content: 'Type anything you want.', offset: '-260px'}" title="Your todo" autofocus required></b-form-input>
                        <b-button id="add_btn" v-b-tooltip.hover.right title="Add your task" variant="success" type="button" v-on:click="addNewTask">ADD</b-button>
                    </div>
                </b-form-group>
            </b-form> &nbsp;
                <b-form-group>
                    <b-button variant="primary" v-b-modal.modalcomplete v-b-tooltip.hover.left title="Set all todos to done" >Complete All</b-button>&nbsp;
                    <b-button variant="danger" v-b-modal.modalclear v-b-tooltip.hover.right title="Delete all todos">Clear all</b-button>
                </b-form-group> 
                <list :todos="todos" v-on:complete="checked" v-on:remove="removeTodo"></list>
                <b-modal id="modalclear"  @ok="clearAll" title="Clear All">
                    <p class="my-4">Are you sure to clear all todos?</p>
                </b-modal> 
                <b-modal id="modalcomplete"  @ok="AllComplete" title="Complete All">
                    <p class="my-4">Are you sure to complete all todos?</p>
                </b-modal> 
      </b-jumbotron>
  </div>
</template>

<script>
import navbar from './navbar'
import list from './list'

export default {
  name: 'todolist',
  components: {
    navbar,
    list
  },
  data () {
    return {
      taskLabel: '',
      todos: this.fetch()
    }
  },
  watch: {
    todos: {
      handler: function (todos) {
        this.save(todos)
      }
    }
  },
  methods: {
    setModal(action, title, msg, param) {
      this.modal.action = action
      this.modal.title = title
      this.modal.message = msg
      this.modal.param = param
    },
    fetch: function () {
      var todos = JSON.parse(localStorage.getItem('todoList') || '[]')
      return todos
    },
    save: function (todos) {
      localStorage.setItem('todoList', JSON.stringify(todos))
    },
    validateTodo (labelTask) {
      try {
        if (labelTask === '') {
          throw new Error('You must type something.')
        }
      let todos = this.fetch()
      console.log(todos)
      let index = todos.findIndex(obj => obj.label === labelTask)
        if (index > -1) {
          throw new Error('Your activity is already in the task.')
      }
      } catch (error) {
        throw error
      }
    },
    addNewTask () {
      try {
        this.validateTodo(this.taskLabel)
      } catch (error) {
        this.$snotify.error(error.toString())
        this.taskLabel=''
        return false
      }
      let newTask = { label: this.taskLabel, completed: false }
      this.todos.unshift(newTask)
      this.taskLabel = ''
       this.$snotify.success('Success Add your task')
    },
    AllComplete() {
      let todos = this.todos.slice()
        if (todos.length > 0) {
          todos.forEach(todo => {
          todo.completed = true
          })
          this.todos = todos
        }
          this.$snotify.success('Success completed all todos.')
        },

    removeTodo (index) {
      this.todos.splice(index, 1)
    },
    clearAll() {
      if (this.todos.length > 0) {
        localStorage.removeItem('todoList')
        this.todos = []
        this.$snotify.success('All todos has been cleared.')
        }
      },

    checked (index){
      console.log('tes')
      let todos = this.todos.slice()
      todos[index].completed = !todos[index].completed
      this.todos = todos
      this.save(todos)
    },
  }
}
</script>

<style>
 .container{
  width: 60%;
}
.InputTask{
  position: relative;
  margin : 0px 100px 0px 200px
}
.todo-list__item.complete {
  background  : rgb(42, 138, 216);
  color       : #fff;
  text-decoration: line-through;
}
</style>